*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav1{
    position: sticky;
    top:0;
}
.navbar1{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    background-color: white;

}
.navIcon{
    padding-left: 5px;
    padding-right: 5px;
}
.logoBrand ,.navList,.loginSearch {
    padding-top: 20px;
}
.logoBrand{
    padding-left: 20px;
}
.brand{
    font-size: 30px;
    color: transparent;
    font-weight: 900;
    text-shadow: 10px 10px 0px #137f73, 0 0 6px #4ccdbe;
}
.shadowEffect{
    text-align: center;
    text-shadow: 5px 5px 5px red, 0 0 6px green;
}
.shadowForP{
    text-align: center;
font-size: xx-large;
    color: white;
    text-shadow: 2px 2px 4px #ff0000;

}
.navList{
    display: flex;
    list-style-type: none;
}
.namItem{
    margin: 3px 15px;
}
.navLink:link{
    color: black;
    font-size: larger;
    text-decoration: none;
}

.navLink:hover{}

.navLink:visited{
    color: black;

}
.loginSearch{
    padding-right: 30px;
}
#gotTOTop{
    margin-top: 50px;
}
.header{
    background-image: url('./Assets/header1.jpg');
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}
.contentHeader{
    /* background-color: white; */
    width: 35%;
    padding: 70px 20px;
}
.contentHeader h2{
    font-size: 50px;
    margin-bottom: 10px;
}
.contentHeader p{
    font-size: 20px;
    margin-bottom: 25px;
}
.orangeBTN{
    background-color: #ffa500;
    color:white;
    font-weight: 200;
    padding: 9px;
    border: none;
    text-decoration: none;
}
.greenBTN{
    background-color: #137f73;
    color:white;
    font-weight: 200;
    padding: 9px;
    border: none;
    text-decoration: none;

}
.prodListMain{
    width: 80%;
    margin :50px auto; 
}
.prodListMain p{
    margin-top: 10px;
    font-size: 20px;
}
.prodList{
display: flex;
justify-content: space-around;
margin-bottom: 10px;
margin-top: 30px;
}
.prodList a:link{
    color: black;
}
.prodList a:visited{
    color: black;
}
.prodList a:hover{
    color: rgb(224, 8, 8);
}
.BuyNow{
    text-decoration: none;
}
.card{
    background-color: rgb(240, 238, 238);
    width:18rem;
    height: 300px;
    padding: 4px;
}
.card:hover{
    box-shadow: 5px 5px 5px 2px #46a096;
}
.imgCard{
    width:100%;
    height:80% ;
}
/*.imgCardCircle{
    border-radius: 40%;
}*/
.imgCardCircle:hover{
    border-radius: 50%;
}
.border10PX{
    border-radius: 10px;
}

.titleCard{
    color:rgb(38, 141, 151);
    margin-bottom: 10px;

}
.priceAndBTN{
    display: flex;
    justify-content: space-between;
}

.aboutUs{
display: flex;
height: 400px;
}

.aboutUsMain{
    flex:2
}
.aboutUsMain img{
    width: 100%;
    height: 100%;
}
.contentHeaderAboutUs{
flex:1;
padding: 30px 20px 30px 40px;
}
.contentHeaderAboutUs p{
    font-size: 20px;
    margin-top: 15px;
    line-height: 1.2;
    margin-bottom: 10px;
}
#blogs h1{
    margin-left: 110px;
}

.contactUs{
    height: 500px;
 width: 90%;
 margin: 10px auto; 
 margin-top: 30px; 
}
.ContactInfo{
    display: flex; 
}
.contact-box{
    flex: 1;
}
.RightImg{
    flex: 1;
}
.contact-box{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: powderblue;
   /* top: 50px;
    left: 50px;*/
    
}
form{
    margin: 35px;

}
.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field{
    height: 150px;
    padding-top: 10px;
}
.btn{
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #137f73;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.mapcontact{
    width: 100%;
    height: 450px;
 margin-top: 20px; 
}

.footer{
    background-color: black;
    height: 300px;
    color: white;
}
.commonFooter{
    display: flex;
    width: 80%;
    margin: 5px auto;
    padding-top: 20px;
}
.quicklinks{
    display: flex;
    text-align: center;
    margin-left: 145px;
}
.column{
    flex:1;
    text-align: center;
}
.col{
    display: inline-block;
    text-align: justify;
}

.col1{
    text-align: justify;
    margin-left: 30px;
}
.column .col a:link{
    color: white;
    text-decoration: none;
}
.column .col a:visited{
    color: white;
}
.column .col1 a:link{
    color: white;
    text-decoration: none;
}
.column .col1 a:visited{
    color: white;
}
.column h3{
    margin-top: 10px;
}
.call:hover, .email:hover ,.location:hover  {
    color: #ff0000;
}
.call{

}
.SmallImage{

}
/*.quicklinks{
    display: flex;
}*/
.col{
    display: inline-block;
}

.imgInFooter{
    width:60px;
    height: 60px;
}
.contactFormFooter p{
    font-size: xx-large;
}
.customIcon:hover{
    color:red;
}
footer p{
    text-align: center;
}
.topArrow{
    width: 50px;
    position:sticky;
    left: 95%;
    bottom: 30px;
    border: 2px 2px ridge white;
    border-radius: 20%;
    text-align: center;
    background-color: #46a096;
}
.textTop{
    color: black;
    text-decoration: none;
}










